@mixin flexbox() {
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}
@mixin flexdirection($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}
@mixin justifycontent ($val) {
    -webkit-box-pack: $val;
    -moz-box-pack: $val;
    -ms-flex-pack: $val;
    -webkit-justify-content: $val;
    justify-content: $val;

}

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #F6F4F1;
}
a {
    text-decoration: none;
    color: #ccc;

    &:hover {
        color: #000;
    }
}
h1 {
    margin: 0;
    padding: 0;
    align-items: center;
}

.site-container {
    @include flexbox();
    @include flexdirection(row);
    flex-wrap: wrap;
    @include justifycontent(flex-start);

    .site-header {
        @include flexbox();
        @include justifycontent(center);
        @include flex(100%);
        padding: 20px 0; 
        align-items: center;

        .header-logo {
            display: block;
            color: #fff;
        }
    }

    #filters {
        @include flexbox();
        @include justifycontent(center);
        @include flexdirection(row);
        @include flex(100%);
        background: #fff;
        box-shadow: 0 0 1px #ccc;

        a {
            display: inline-block;
            margin: 0 auto;
            padding: 15px 0 ;
        }
    }
    
    #menuList {
        @include flexbox();

        list-style: none;
        margin: 0;
        padding: 0;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        width: 960px;
        margin: 20px auto;
        box-shadow: 0 0 1px #ccc;

        li {
            background: #fff;
            @include flexbox();
            flex: 2 50%;

            div.holder {
                @include flex(50%);
                text-align: center;
                position: relative;

                div.descr {
                    min-height: 100px;
                    font-size: 14px;
                    color: #ccc;
                    padding: 0 15px;
                }

                .price {
                    text-transform: uppercase;
                    color: #CCB8A1;
                    font-weight: bold;
                    text-shadow: 0 0 1px #FFF;
                }
                h3 {
                    margin: 15px 0;
                }
            }

            img {
                width: 200px;
                height: 200px;
            }

            &:nth-child(3n+3) {
                div.holder {
                    order: 2;
                }
                img {
                    order: 1;
                }
            }
            &:nth-child(4n+4) {
                div {
                    order: 1;
                }
                img {
                    order: 2;
                }
            }
        }
        
    }

    footer {
        @include flexbox();
        @include flex(100%);
        @include justifycontent(center);
        padding: 20px 0;
        background: #ccc;
    }

}
